@model ComicBookReader.Models.ComicBook
@{
    double av = 0;
    int sum = 0;
    int c = 0;

    //int selectedOption = ViewBag.SelectedOption;
}

<body>
    @foreach (var cbu in ViewBag.CB_Users)
    {
        sum += cbu.ComicBookMark;
        c++;
    }
    @{if (c != 0) av = Math.Round((double) sum / c, 2);}
    <section class="content comicbook-page">
        <div class="cb-info-user">
            <div class="cb-info cbuser-info">
                <img class="star-icon rev-star" src="/img/star_icon.png" />
                <h5 class="rev-star">@av / 5</h5>
                <p class="rev-count">@c</p>
            </div>
            <div><a class="review-btn">Добавить в любимые</a></div>
            <div><a class="review-btn col change-info-btn btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Оставить отзыв</a></div>
            <div class = "cb-status">
                <form method="post">
                    <select name="listStatus">
                        <option value="">Добавить в список</option>
                        <option value="1">Хочу прочитать</option>
                        <option value="2">Читаю</option>
                        <option value="3">Прочитано</option>
                    </select>
                    <br />
                    <input type="submit" class="sign-in" value="Подтвердить" style="margin-top: 10px;" />
                </form>
            </div>
        </div>
        <div class="cb-info">
            <img class="cover-img" src="@Model.ComicBookCover" />
            <div class="cb-info-text">
                <h5>@Model.ComicBookTitle</h5>
                <p class="cb-info-item">Год выхода: @Model.ComicBookYear </p>
                <p class="cb-info-item">Язык: @Model.ComicBookLanguage</p>
                <p class="cb-info-item">Авторы: 
                    @foreach (var author in @Model.Authors)
                    {
                        <a>@author.AuthorName</a>
                    }
                </p>
                <p class="cb-info-item">Жанры: 
                      <a>@Model.Genres[10].GenreName</a>
                      <a>@Model.Genres[9].GenreName</a>
                      <a>@Model.Genres[8].GenreName</a>
                      <a>@Model.Genres[5].GenreName</a>
                </p>
                <p class="cb-info-item">Описание: @Model.ComicBookDescription</p>
            </div>
        </div>

          <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Оставить отзыв</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="info-change">
                <div>
                    <form action="/Home/SendReview" method="post">
                        
                    
                        <div class="img-username">
                                <p>Ваша оценка:</p>
                                @*
                                <a href="#"><img class="star-icon rev-star currev" src="/img/star_icon.png" /></a>
                                <a href="#"><img class="star-icon rev-star currev" src="/img/star_icon.png" /></a>
                                <a href="#"><img class="star-icon rev-star currev" src="/img/star_icon.png" /></a>
                                <a href="#"><img class="star-icon rev-star currev" src="/img/star_icon.png" /></a>
                                <a href="#"><img class="star-icon rev-star currev" src="/img/star_icon.png" /></a>
                                *@
                                <input class="mark" type="number" name="mark"/>
                                <input class="cbId" type="number" name="cbId" style="display: none;" value="@Model.ComicBookId"/>
                        </div>
                        <textarea class="review-input" name="reviewValue"></textarea>
                            <div class="form-group">
                                <input class="sign-in" type="submit" value="Отправить" />
                            </div>
                            </form>
                        </div>
                </div>
            </div>
      </div>
    </div>
    </div>
    </section>
    <section class="content">
        <div class="chapters-reviews">
            <a class="ch" onclick="showChapters()"><h5>Главы</h5></a>
            <a class="rev" onclick="showReviews()"><h5>Отзывы</h5></a>
        </div>
        <hr />
            <div class="chapters">
            @for (int i = 0; i < @Model.Chapters.Count; i++)
            {
                <a href="~/Home/ComicChapter/@Model.Chapters.ElementAt(i).ChapterId" class="chapter"><h5>@Model.Chapters.ElementAt(i).ChapterName</h5></a>
                <hr />
            }
                
            </div>
            <div class="reviews">
                @foreach (var cbu in ViewBag.CB_Users)
                {
                    <div class="review">
                        <div class="review-mark">
                            <img class="star-icon rev-star" src="/img/star_icon.png" />
                            <p class="rev-star">@cbu.ComicBookMark / 5</p>
                        </div>
                        <div class="img-username">
                            <img class="user-logo-review" src="/img/user_logo.png" />
                            <p>Username</p>
                        </div>
                        <p class="review-value">@cbu.ComicBookReview</p>
                    </div>
                }
            
            </div>
    </section>

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="js/home.js"></script>
    <script>

        var reviews = document.getElementsByClassName("reviews");
        var chapters = document.getElementsByClassName("chapters");

        var rev = document.getElementsByClassName("rev");
        var ch = document.getElementsByClassName("ch");
        

        function showReviews() {

            chapters[0].style.display = "none";
            ch[0].style.backgroundColor = "#fff";

            ch[0].addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })

            reviews[0].style.display = "block";
            rev[0].style.backgroundColor = "#e8e2a2";
        }

        function showChapters() {
          
            chapters[0].style.display = "block";
            ch[0].style.backgroundColor = "#e8e2a2";

            reviews[0].style.display = "none";
            rev[0].style.backgroundColor = "#fff";

            rev[0].addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
        } 
    </script>
</body>