@model IEnumerable<ComicBookReader.Models.ComicBook>
@{
    ViewData["Title"] = "Список комиксов";
}

<!DOCTYPE html>

<html>
    <head>
        <title>ComicBookReader</title>
    </head>
    <body>
        <a asp-action="Login" asp-controller="Account">Войти в аккаунт</a>
        <a asp-action="Logout" asp-controller="Account">Выйти</a>
        @foreach (var cb in Model)
        {
            <p>@cb.ComicBookTitle</p>
            <p>@cb.ComicBookLanguage</p>
            <img src = @cb.ComicBookCover />
            <p>@cb.ComicBookDescription</p>
            <p>@cb.ComicBookYear</p>
        }
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </body>
</html>
