@model ComicBookReader.Models.ComicPage
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <head>  
        <link href="~/css/ComicChapter.css" rel="stylesheet" />
        <link href="~/css/jquery.Jcrop.css" rel="stylesheet" />
        <style>
            #preview-pane {  
                  display: block;  
                  position: fixed;  
                  z-index: 2000;  
                  top: 80px;  
                  right: 20px;  
                  padding: 6px;  
                  border: 1px rgba(0,0,0,.4) solid;  
                  background-color: white;  
  
                  -webkit-border-radius: 6px;  
                  -moz-border-radius: 6px;  
                  border-radius: 6px;  
  
                  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);  
                  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);  
                  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);  
                  }

                  #preview-pane .preview-container {  
                      width: 300px;  
                      height: 250px;  
                      overflow: hidden;  
                    }  

                #imgCropped {
                      padding: 6px;  
                      border: 1px rgba(0,0,0,.4) solid;  
                      background-color: white;  
  
                      -webkit-border-radius: 6px;  
                      -moz-border-radius: 6px;  
                      border-radius: 6px;  
  
                      -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);  
                      -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);  
                      box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2); 

                      width: 250px; 
                      position: fixed; 
                      right: 20px; 
                      top: 100px;
                }
        </style>
    </head>
    <body>
        @*
        <a class="settings-icon" onclick="showSettings()"><img src="~/img/settings_icon.png" /></a>
        <div class="settings" style="display: none; top: 120px; height: 150px;">
            <div class="slidecontainer">
                    <h5>Размер изображения</h5>
                  <input type="range" min="400" max="1200" value="500" class="slider" id="myRange">
            </div>
        </div>
        *@
        
        <div id="cropContainer">
            <div id="cropDisplay">
                <img src="@Model.PageImage" id="imgRec" style="margin: 20px;"/>
            </div>
            @*
            <div id="preview-pane">  
                <div class="preview-container">  
                  <img src="@Model.PageImage" class="jcrop-preview" alt="Preview" />  
                </div>  
            </div>  
            *@
        </div>

          <form action="/Home/CropImage" method="post">
            <label>X1 <input type="number" size="4" id="x1" name="x1" style="width: 60px;"/></label>  
            <label>Y1 <input type="number" size="4" id="y1" name="y1" style="width: 60px;"/></label>  
            <label>X2 <input type="number" size="4" id="x2" name="x2" style="width: 60px;"/></label>  
            <label>Y2 <input type="number" size="4" id="y2" name="y2" style="width: 60px;"/></label>  
            <label>W <input type="number" size="4" id="w" name="w" style="width: 60px;"/></label>  
            <label>H <input type="number" size="4" id="h" name="h" style="width: 60px;"/></label>  
            <input type="number" size="4" name="imgW" id="imgW" style="display: none;"/>
            <input type="number" size="4" name="imgH" id="imgH"  style="display: none;"/>
            <input type="number" size="4" name="cpId" id="cpId" value="@Model.ComicPageId"  style="display: none;"/>
            <input type="submit" value="Распознать"/>
           </form>
        

        <img id="imgCropped" alt="Изображение для распознавания" src="@ViewBag.Preview" />
         
        <div id="recTextBlock" style="position: fixed; top: 400px; right: 40px;">
            <p style="font-weight: bold; background-color: #fff; width: 200px;">Распознанный текст:</p>
            
            <textarea id="recText" type="text" style="width: 400px; height: 300px;">@ViewBag.Text</textarea>
        </div>
        
    </body>
</html>
@*
<script>
    var slider = document.getElementById("myRange");
    var img = document.getElementById("imgRec");
    img.innerHTML = slider.value; // Отображение значения ползунка по умолчанию
    
    slider.addEventListener("mouseup", function() {
        img.style.width = this.value + "px";
    });
</script>

<script>
    var settingsIcon = document.getElementsByClassName("settings-icon")[0];
    var settings = document.getElementsByClassName("settings")[0];

    function showSettings() {
        if (settings.style.display == 'none') settings.style.display = 'block';
        else settings.style.display = 'none';
    }

</script>
*@
@section scripts
{
    <script src="~/js/jquery.Jcrop.js"></script>
    <script type="text/javascript">

       
        var jcrop_api,  
        boundx,  
        boundy,  
        // Grab some information about the preview pane  
        $preview = $('#preview-pane'),  
        $pcnt = $('#preview-pane .preview-container'),  
        $pimg = $('#preview-pane .preview-container img'),  
        $imgR = $('#imgRec'), 
        imgRWidth = $imgR.width(),
        imgRHeight = $imgR.height(),
  
        xsize = $pcnt.width(),  
        ysize = $pcnt.height();  

        
        jQuery('#imgW').val(imgRWidth);
        jQuery('#imgH').val(imgRHeight);

        console.log(imgRWidth);
        console.log(imgRHeight);

        $(function() {
            $('#imgRec').Jcrop({
                onChange: showCoords,
                onSelect: showCoords
            },function(){  
      // Use the API to get the real image size  
      var bounds = this.getBounds();  
      boundx = bounds[0];  
      boundy = bounds[1];  
      // Store the API in the jcrop_api variable  
      jcrop_api = this;  
  
      // Move the preview into the jcrop container for css positioning  
      $preview.appendTo(jcrop_api.ui.holder);  
    })
        });

        function showCoords(c)  { 

              if (parseInt(c.w) > 0)  
              {   

                  $pcnt.css({  
                      width: c.w,
                      height: c.h
                }); 

  
                $pimg.css({  
                  width: boundx + 'px',  
                  height: boundy + 'px',  
                  marginLeft: '-' + c.x + 'px',  
                  marginTop: '-' + c.y + 'px'  
                });  
              }  

             jQuery('#x1').val(c.x);  
             jQuery('#y1').val(c.y);  
             jQuery('#x2').val(c.x2);  
             jQuery('#y2').val(c.y2);  
             jQuery('#w').val(c.w);  
             jQuery('#h').val(c.h);  
         };  

            
        
    </script>
}
