@model ComicBookReader.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    @*<link href="~/css/user_profile.css" rel="stylesheet" />*@
    <style>
        .logout-btn {
    float: right;
    border: 0px;
    border-radius: 20px;
    background-color: #e8e2a2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;
}

.logout-btn:hover {
    background-color: rgb(218, 210, 140);
    color: black;
}

.user-info {
    display: flex;
    margin-left: 20px;
}

.user-logo {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin-right: 10px;
}

.place {
  margin-right: 50px;
  margin-left: 30px;
  margin-top: 20px;
}

.change-info-btn {
    color: black;
    margin-left: 10px;
    text-decoration: none;
    border: 0px;
    border-radius: 20px;
    background-color: #d4d4d4;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.change-info-btn:hover {
    color: black;
    background-color: #ababab;
}

.user-name {
    margin-left: 15px;
    margin-bottom: 15px;
}

.info-change {
  display: flex;
}

.status-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.review-mark {
    float: right;
    display: flex;
}

.reviews {
    margin-left: 150px;
    margin-right: 150px;
}

.user-logo-review {
    height: 50px;
    width: 50px;
}

.status-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.review-nav, .reading-nav, .read-nav, .wish-nav, .favourite-nav {
    cursor: pointer;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.reading-nav {
    background-color: #e8e2a2;
}

    .review-nav:hover, .reading-nav:hover, .read-nav:hover, .wish-nav:hover, .favourite-nav:hover {
        color: #777;
    }

.review-mark {
    float: right;
    display: flex;
}

.reviews {
    margin-left: 150px;
    margin-right: 150px;
}

.user-logo-review {
    height: 50px;
    width: 50px;
}
    </style>
</head>
<body>
    <section class="content">
        <a class="logout-btn" asp-action="Logout" asp-controller="Account">Выйти</a>
        <div class="user-info">
            <img class="user-logo" src="@Model.UserImage" />
            <div>
                <h5 class="user-name">@Model.UserFirstName @Model.UserLastName</h5>
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="change-info-btn btn btn-primary">Изменить информацию</button>
            </div>
        </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Изменить информацию</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <input type="file" id="formControlFile">
            <div class="info-change">
                <div>
                    <img class="user-logo place" src="@Model.UserImage" />
                </div>
                <div class="info-change">
                    <form>
                        <div>
                            <div class="info-change">
                                <div class="form-group">
                                    <label >Имя</label><br />
                                    <input class="input-item" type="text"  />
                                    <span  />
                                </div>
                                <div class="form-group">
                                    <label >Текущий пароль</label><br />
                                    <input class="input-item"  />
                                    <span />
                                </div>
                            </div>
                            <div class="info-change">
                                <div class="form-group">
                                    <label >Фамилия</label><br />
                                    <input class="input-item" type="text"  />
                                    <span  />
                                </div>
                                <div class="form-group">
                                    <label >Новый пароль</label><br />
                                    <input class="input-item" />
                                    <span />
                                </div>
                            </div>
                            <div class="info-change">
                                <div class="form-group">
                                    <label >Email</label><br />
                                    <input class="input-item" type="text" />
                                    <span  />
                                </div>
                                <div class="form-group">
                                    <label >Подтвердите пароль</label><br />
                                    <input class="input-item"  />
                                    <span />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <input class="sign-in" type="submit" value="Сохранить" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
      </div>
    </div>
  </div>
    </section>

    <section class="content">
        <div class="status-nav">
            <a class="reading-nav" onclick="showBlock(1);"><h5>Читаю</h5></a>
            <a class="read-nav" onclick="showBlock(2);"><h5>Прочитано</h5></a>
            <a class="wish-nav" onclick="showBlock(3);"><h5>Хочу прочитать</h5></a>
            <a class="favourite-nav" onclick="showBlock(4);"><h5>Любимое</h5></a>
            <a class="review-nav" onclick="showBlock(5);"><h5>Мои отзывы</h5></a>
        </div>
        <hr />
            <div class="reading" style="display: block;">
                <div class="comicbook-previews">
                            <a href="~/Home/ComicBook/1" class="comicbook-preview">
                                <img class="img-comicbook" src="/img/ComicBooks/Avatar_The_Promise/cover.jpg" />
                                <p>Аватар: Легенда об Аанге - Поиск</p>
                            </a>
                </div>
            </div>
            <div class="read" style="display: none;">
                <div class="comicbook-previews">
                            <a href="~/Home/ComicBook/1" class="comicbook-preview">
                                <img class="img-comicbook" src="/img/ComicBooks/Avatar_The_Promise/cover.jpg" />
                                <p>Аватар: Легенда об Аанге - Поиск2</p>
                            </a>
                </div>
            </div>
            <div class="wish" style="display: none;">
                <div class="comicbook-previews">
                            <a href="~/Home/ComicBook/1" class="comicbook-preview">
                                <img class="img-comicbook" src="/img/ComicBooks/Avatar_The_Promise/cover.jpg" />
                                <p>Аватар: Легенда об Аанге - Поиск3</p>
                            </a>
                </div>
            </div>
            <div class="favourite" style="display: none;">
                <div class="comicbook-previews">
                            <a href="~/Home/ComicBook/1" class="comicbook-preview">
                                <img class="img-comicbook" src="/img/ComicBooks/Avatar_The_Promise/cover.jpg" />
                                <p>Аватар: Легенда об Аанге - Поиск4</p>
                            </a>
                </div>
            </div>
            <div class="reviews" style="display: none;">
                @foreach (var cbu in ViewBag.Cb_Users_tu)
                {
                    @if (cbu != null)
                    {
                     <div class="review">
                        <div class="review-mark">
                            <img class="star-icon rev-star" src="/img/star_icon.png" />
                            <p class="rev-star">@cbu.ComicBookMark / 5</p>
                        </div>
                            <p>Название</p>
                        <p class="review-value">@cbu.ComicBookReview</p>
                    </div>     
                    }
                }
                
            </div>
    </section>
    </body>
    <script>

        var reading = document.getElementsByClassName("reading")[0];
        var read = document.getElementsByClassName("read")[0];
        var wish = document.getElementsByClassName("wish")[0];
        var favourite = document.getElementsByClassName("favourite")[0];
        var reviews = document.getElementsByClassName("reviews")[0];

        var reading_nav = document.getElementsByClassName("reading-nav")[0];
        var read_nav = document.getElementsByClassName("read-nav")[0];
        var wish_nav = document.getElementsByClassName("wish-nav")[0];
        var favourite_nav = document.getElementsByClassName("favourite-nav")[0];
        var review_nav = document.getElementsByClassName("review-nav")[0];


        var st = 1;
        
        function showBlock(stat) {
            
            if (st == 1) { hideThisBlock(reading, reading_nav);  }
            else if (st == 2) { hideThisBlock(read, read_nav); }
            else if (st == 3) { hideThisBlock(wish, wish_nav); }
            else if (st == 4) { hideThisBlock(favourite, favourite_nav); }
            else if (st == 5) { hideThisBlock(reviews, review_nav); }

            if (stat == 1) { 
                showThisBlock(reading, reading_nav); 
            } else if (stat == 2) { 
                showThisBlock(read, read_nav); 
            } else if (stat == 3) { 
                showThisBlock(wish, wish_nav); 
            } else if (stat == 4) { 
                showThisBlock(favourite, favourite_nav); 
            } else if (stat == 5) { 
                showThisBlock(reviews, review_nav); 
            }

            st = stat;
        }
        
        function showThisBlock(thisBlocks, thisBlock_navs) {
            thisBlocks.style.display = "block";
            thisBlock_navs.style.backgroundColor = "#e8e2a2";
        }

        function hideThisBlock(thisBlockh, thisBlock_navh) {
            thisBlockh.style.display = "none";
            thisBlock_navh.style.backgroundColor = "#fff";

        }


        
            /*
            thisBlock_navh.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })

            thisBlock_navh.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            */

    </script>
    
    <script>
        
        /*
        function showReading() {

            reading.style.display = "block";
            read.style.display = "none";
            wish.style.display = "none";
            favourite.style.display = "none";
            reviews.style.display = "none";

            read_nav.style.backgroundColor = "#fff";
            wish_nav.style.backgroundColor = "#fff";
            favourite_nav.style.backgroundColor = "#fff";
            reviews_nav.style.backgroundColor = "#fff";

            read_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            wish_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            favourite_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            reviews_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })

            read_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            wish_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            favourite_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            reviews_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })

            reading_nav.style.backgroundColor = "#e8e2a2";
        }

        function showRead() {

            reading.style.display = "none";
            read.style.display = "block";
            wish.style.display = "none";
            favourite.style.display = "none";
            reviews.style.display = "none";

            reading_nav.style.backgroundColor = "#fff";
            wish_nav.style.backgroundColor = "#fff";
            favourite_nav.style.backgroundColor = "#fff";
            reviews_nav.style.backgroundColor = "#fff";

            reading_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            wish_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            favourite_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            reviews_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })

            reading_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            wish_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            favourite_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            reviews_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })

            read_nav.style.backgroundColor = "#e8e2a2";
        }

        function showWish() {

            reading.style.display = "none";
            read.style.display = "none";
            wish.style.display = "block";
            favourite.style.display = "none";
            reviews.style.display = "none";

            read_nav.style.backgroundColor = "#fff";
            reading_nav.style.backgroundColor = "#fff";
            favourite_nav.style.backgroundColor = "#fff";
            reviews_nav.style.backgroundColor = "#fff";

            read_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            reading_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            favourite_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            reviews_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })

            reading_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            read_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            favourite_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            reviews_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })

            wish_nav.style.backgroundColor = "#e8e2a2";
        }

        function showFavourite() {

            reading.style.display = "none";
            read.style.display = "none";
            wish.style.display = "none";
            favourite.style.display = "block";
            reviews.style.display = "none";

            read_nav.style.backgroundColor = "#fff";
            wish_nav.style.backgroundColor = "#fff";
            reading_nav.style.backgroundColor = "#fff";
            reviews_nav.style.backgroundColor = "#fff";

            read_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            wish_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            reading_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            reviews_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })

            reading_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            wish_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            read_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            reviews_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })

            favourite_nav.style.backgroundColor = "#e8e2a2";
        }

        function showReviews() {

            reading.style.display = "none";
            read.style.display = "none";
            wish.style.display = "none";
            favourite.style.display = "none";
            reviews.style.display = "block";

            read_nav.style.backgroundColor = "#fff";
            wish_nav.style.backgroundColor = "#fff";
            favourite_nav.style.backgroundColor = "#fff";
            reading_nav.style.backgroundColor = "#fff";

            read_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            wish_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            favourite_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })
            reading_nav.addEventListener("mouseover", function() {
               this.style.backgroundColor = "#e8e2a2";
            })

            reading_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            wish_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            favourite_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })
            read_nav.addEventListener("mouseout", function() {
               this.style.backgroundColor = "#fff";
            })

            reviews_nav.style.backgroundColor = "#e8e2a2";
        }
        */
    </script>
   
